/* Style all button elements */
button {
    background-color: #e23744;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

/* Hover effect */
button:hover {
    background-color: #b91d2a;
}